@{
    ViewBag.Title = Model.Artist.ArtistNameCN + " - 艺术家资讯";
    Layout = "~/Views/Shared/_Artist.cshtml";
}
<style>
    body {
        overflow-x: hidden !important;
    }

    button {
        background-color: transparent;
        border: none;
    }

    #ArtistNav {
        position: fixed;
        top: 3%;
        right: 1.5%;
        font-size: 1rem;
        z-index: 999;
    }

    #ArtistNav a {
        color: black;
        background-color: white;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-decoration: none !important;
        padding: .5vh 1vw;
    }

    .activeLink a {
        color: white !important;
        background-color: black !important;
    }

    /* 以上为导航栏部分 */
    /* 以下为正文部分 */

    .header {
        /* 作品集 */
        width: 100%;
        height: auto;
        position: relative;
        color: white;
        /* padding-bottom: 8vh; */
    }

    .bg {
        background: linear-gradient(to bottom right, @Model.Artist.Color1, @Model.Artist.Color2);
        display: list-item;
    }

    /* 添加时间:2023.07.06 */

    #section01 {
        height: auto;
        width: 100vw;
        position: relative;
    }

    .recent {
        position: relative;
        height: 100vh;
        width: auto;
        overflow: hidden;
    }

    .recent::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        filter: brightness(65%);
        transition: transform 300ms;
        background-image: url('../../Content/images/IMG_9282.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .recent:hover::before {
        transform: scale(1.1);
    }

    .recent a {
        padding: 0 10% 0 10%;
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .now {
        display: block;
        width: 100vw;
        font-size: 5rem;
        /* font-family: 'cjkBold';*/
        font-weight: 700;
        font-family: 'Noto Serif SC', serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
    }

    .now span {
        display: block;
        font-size: 1rem;
        margin-top: .8em;
        /* font-family: 'JhengLight';*/
    }


    .news {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: auto;
        line-height: 1.5em;
        color: white;
        text-align: center;
        overflow: hidden;
    }

    .news a {
        width: auto;
        padding: 0;
        margin-left: 2em;
        margin-right: 2em;
        font-size: .75rem;
    }

    /* 以上是section01大图的css */

    .more {
        /* height: 135vh; */
        height: auto;
        width: 100vw;
        overflow-x: hidden;
        padding: 8% 10% 0% 10%;
    }

    .more a {
        color: white;
        text-decoration: none;
        display: block;
        height: var(--xinwenH);
        position: relative;
        text-align: justify;
        margin-bottom: var(--liBottom);
    }

    .more a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(-1.5%, -13%);
        height: 126%;
        width: 103%;
        border: 1px solid #ffffff20;
    }

    .secondborder {
        position: absolute;
        transform: translate(-1.5%, -13%);
        height: 126%;
        width: 103%;
        left: 0;
    }

    .secondborder::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid #ffffff50;
        border-left: 1px solid #ffffff50;
        width: 2%;
        height: 13%;
    }

    .secondborder::after {
        content: "";
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        border-bottom: 1px solid #ffffff50;
        border-right: 1px solid #ffffff50;
        width: 2%;
        height: 13%;
    }

    .mirror {
        transform: scaleY(-1) translate(-1.5%, 13%) !important;
    }

    .more img {
        object-fit: cover;
        float: left;
        height: var(--xinwenH);
        width: var(--xinwenW);
        transform: translateY(-4%);
    }

    .more h2 {
        font-size: 1rem;
        /* font-family: 'JhengBold';*/
        margin-bottom: .5em;
    }

    .more h3 {
        font-size: .8rem;
        /* font-family: 'JhengLight';*/
        margin-bottom: 1em;
    }

    .more p {
        border-top: .5px solid white;
        padding-top: 1em;
        font-size: .7rem;
        text-align: justify;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
    }

    .more span {
        position: absolute;
        right: 1.3%;
        bottom: 0;
        font-size: .8rem;
        /* font-family: 'JhengLight';*/
        border: 1px solid #ffffff50;
        padding: 5px 10px;
    }

    .more span:hover {
        border: 1px solid #ffffff60;
    }

    /* 分页 */
    #pagination {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        font-size: 1rem;
    }

    #pagination li {
        display: inline-block;
        margin-right: .5em;
    }

    #pagination li a {
        font-family: 'dinLight';
        font-size: .9rem;
        color: white;
        background-color: #ffffff10;
        text-decoration: none;
        padding: .2em .8em;
        border-radius: 3px;
    }

    #pagination li.active a {
        background-color: #ffffff40;
    }

    .prev,
    .next {
        background-color: transparent !important;
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
    }

    /* 收藏捐赠 */
    #section02 {
        min-height: 80vh;
    }

    .collection {
        height: auto;
        padding: 1.3em 0;
    }

    .infoBox {
        height: 35vh;
        width: 100%;
        position: relative;
        z-index: 50;
    }

    .infoBox img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .collection li {
        height: auto;
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 2vh;
    }

    .collection .infoBox::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000050;
    }

    .collection span {
        position: absolute;
        bottom: 5%;
        right: 8%;
        color: white;
        padding-bottom: 2em;
        cursor: pointer;
        z-index: 100;
    }

    .collection span h1 {
        font-size: 3.2rem;
        /* font-family: 'JhengLight';*/
        margin-bottom: 3%;
    }

    /* 取消了地址时间一起进入的动画 */
    .foldInfo {
        text-align: end;
        /* transform: translateY(100%); */
        transition: .3s;
        font-size: 1rem;
        margin-right: .7%;
        /* opacity: 0; */
    }

    .infoBox:hover .foldInfo {
        /* 已无效化 */
        transform: translateY(0%);
        opacity: 1;
    }

    .fold {
        width: 15%;
        height: 15%;
        opacity: 0;
        background-image: url('../../content/icon/xia.svg');
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 1rem;
        position: absolute;
        bottom: -10%;
        right: 0%;
        transition: all .3s;
    }

    .infoBox:hover .fold {
        bottom: 0%;
        opacity: .5;
    }

    .unfolded {
        position: relative;
        color: white;
        height: 0;

        transition: all 600ms;
        overflow: hidden;
        transform: translateY(-100%);
        z-index: -1;
        opacity: 0;
    }

    .active {
        height: auto !important;
        transform: translateY(0%);
        opacity: 1;
        z-index: 1;
    }

    .magnify {
        height: 35vh;
    }

    .xijie div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        height: var(--infoH);
    }

    .xijie img {
        border: var(--xijieBor);
        height: var(--xijieH);
        width: 100%;
        object-fit: cover;
        margin-left: 10%;
    }

    .xijie p {
        /* position: absolute;
            left: 50%;
            bottom: var(--xijieBottom);
            transform: translate(-50%, -50%); */
        padding-left: 10%;
        margin-top: var(--xijiePt);

        text-align: center;
        font-family: 'dinLight';
        font-size: 1rem;
    }

    .zuopin {
        display: flex;
        justify-content: left;
        align-items: center;
        white-space: pre-wrap;
        height: var(--infoH);
        padding-top: 3%;
        font-size: 1.1rem;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
        line-height: 2em;
    }

    /* Shrink the lens to half size */
    .magnify>.magnify-lens {
        /* width: 50%; */
        /* height: 50%; */
        border: 1px solid white;
    }

    .infoBox {
        background-position: center center;
        background-size: cover;
        /* background-attachment: fixed; */
    }

    /* 出版著作 */
    #section03 {
        min-height: 110vh;
    }

    /* 拍卖行情 */
    #section04 {
        min-height: 110vh;
    }

    .market {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3%;
        display: block;
    }

    .market tr {
        max-height: 60vh;
        color: white;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
    }

    .market th {
        width: 25%;
    }

    .market p {
        padding-left: 7%;
        padding-right: 5%;
        font-size: .8rem;
        white-space: pre-line;
        line-height: 1.5em;
        font-family: 'Noto Sans SC', sans-serif;
        font-display: swap;
        font-weight: 400;
    }

    .market img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    }

    .market span {
        font-size: 1.2rem;
        /* font-family: 'sansRegular';*/
        font-weight: 400;
        font-family: 'Noto Sans SC', sans-serif;
        margin-bottom: 1em;
    }

    .market i {
        font-weight: 200;
    }
</style>



<nav id="ArtistNav">

    <table>
        <tr>
            <td>
                <a href="/Home/newIndex" style="border-left: 1px solid black;">
                    首&#12288;页
                </a>
            </td>
            <td>
                <a href="/Home/artistZLQ">艺术家首页</a>
            </td>
            <td class="xs-hide sm-hide activeLink">
                <a href="#section01">资&#12288;讯</a>
            </td>
            <td class="xs-hide sm-hide">
                <a href="#section02">收藏捐赠</a>
            </td>
            <td class="xs-hide sm-hide">
                <a href="#section03">出版著作</a>
            </td>
            <td class="xs-hide sm-hide">
                <a href="#section04">拍卖行情</a>
            </td>
        </tr>
    </table>

</nav>

<div class="bg col-xs20 col-sm20 col-md20 col-lg20">
    <section class="col-xs20 col-sm20 col-md20 col-lg20">

        <!-- 最新资讯大图(按所有艺术家自行发布的新闻的最近一期) -->
        <article class="recent">

            @* @{
            var h in ViewBag.Heading;
            } *@
            <a class="now" href="Javascript:;;">
                回顾 | 三人行——鸥洋 / 雷双 / 张岚芊 艺术展
                <span class="JhengLight">张岚芊&#12288;|&#12288;2023年07月05日</span>
            </a>

            <div class="news xs-hide sm-hide">
                @foreach (var i in ViewBag.Info)
                {
                    <a href="/Home/ArtNewsRead/@i.Id">@i.Title</a>
                }
            </div>
        </article>


    </section>

    <section id="section01" class="col-xs20 col-sm20 col-md20 col-lg20">
        <!-- 可翻页资讯 -->

        <div id="zixun" class="subNav col-xs20 col-sm20 col-md20 col-lg20 header" style="border-top: none;">
            <span>资讯</span>
            <span style="font-size: 1rem;letter-spacing: 0;">/&ensp;NEWS</span>
        </div>

        <ul id="list" class="more col-xs20 col-sm20 col-md20 col-lg20">

            @foreach (var n in ViewBag.selfUpload)
            {
                <li>
                    <a href="/Home/ArtNewsRead/@n.Id">
                        <i class="secondborder"></i>
                        <i class="secondborder mirror"></i>

                        <img class="col-xs6 col-sm6 col-md4 col-lg4" src="@n.CoverPath" alt="">

                        <div class="col-xs1 col-sm1 col-md1 col-lg1">&nbsp;</div>
                        <div class="col-xs11 col-sm11 col-md15 col-lg15">
                            <h2 class="JhengBold">@n.Title</h2>
                            <h3 class="JhengLight">发布日期:@string.Format("{0:yyyy.MM.dd}", n.Date)</h3>
                            <p>
                                @n.Content
                            </p>

                            <span class="JhengLight">查看更多 ></span>
                        </div>
                    </a>
                </li>
            }

        </ul>

        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
        <ul class="col-xs16 col-sm16 col-md16 col-lg16" id="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
        </ul>
        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
    </section>

    <section id="section02" class="col-xs20 col-sm20 col-md20 col-lg20">

        <div class="subNav col-xs20 col-sm20 col-md20 col-lg20 header">
            <span>收藏捐赠</span>
            <span style="font-size: 1rem;letter-spacing: 0;">/&ensp;COLLECTION & DONATION</span>
        </div>

        <ul class="collection col-xs20 col-sm20 col-md20 col-lg20">
            @foreach (var f in ViewBag.Fav)
            {
                <li class="col-xs20 col-sm20 col-md20 col-lg20">
                    <div class="infoBox" style="background-image: url('/Content/ArtImg/Artist/Fav/@f.CoverPath');">
                        <span class="info">
                            <h1 class="JhengLight">@f.Title</h1>
                            <p class="foldInfo">@f.Location &#12288;|&#12288;@f.Year</p>

                            <!-- 触发折叠button -->
                            <i class="fold"></i>
                        </span>
                        <!-- <img src="../../content/images/WechatIMG1665.jpg" alt=""> -->
                    </div>

                    <!-- 折叠 -->
                    <div class="unfolded col-xs20 col-sm20 col-md20 col-lg20">

                        <div class="col-xs7 col-sm7 col-md12 col-lg12 xijie">
                            <img src="../../content/images/WechatIMG1665.jpg" class="zoom"
                                data-magnify-src="../../content/images/WechatIMG1665.jpg">
                            <p>80x80&nbsp;cm</p>
                        </div>

                        <div class="col-xs13 col-sm13 col-md8 col-lg8">

                            <p class="zuopin">
                                作&#8195;&#8195;品：《右玉·西口人家》
                                作&#8195;&#8195;者：张岚芊
                                作品尺寸：80x80cm
                                材&#8195;&#8195;质：布面油画
                                类&#8195;&#8195;别：油画不含丙烯画
                                收藏机构：罗湖美术馆
                                地&#8195;&#8195;点：深圳,中国
                                收藏编号：L2021010001
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <!-- 收藏捐赠 -->
        <div style="height: 140vh;">&nbsp;</div>


    </section>

    <section id="section03" class="col-xs20 col-sm20 col-md20 col-lg20">

        <div class="subNav col-xs20 col-sm20 col-md20 col-lg20 header">
            <span>出版著作</span>
            <span style="font-size: 1rem;letter-spacing: 0;">/&ensp;PUBLISHING WORKS</span>
        </div>

        <!-- 出版著作 左图右文 -->


    </section>

    <section id="section04" class="col-xs20 col-sm20 col-md20 col-lg20">

        <div class="subNav col-xs20 col-sm20 col-md20 col-lg20 header">
            <span>拍卖行情</span>
            <span style="font-size: 1rem;letter-spacing: 0;">/&ensp;AUCTION MARKET</span>
        </div>

        <!-- 不可点击卡片 -->
        <table class="col-xs20 col-sm20 col-md20 col-lg20 market">
            <tr>
                <th>
                    <img src="../../Content/images/yuanfang12.jpg">
                    <p>
                        <span>2021年作 远方系列</span>
                        估价:RMB 300,000 - 500,000

                        成交价(RMB):368,000
                        成交价(HKD):400,126
                        成交价(USD):50,968

                        <i>拍卖日期:2022-10-05</i>
                    </p>
                </th>

                <th>
                    <img src="../../Content/images/yuanfang15.jpg">
                    <p>
                        <span>2021年作 远方系列</span>
                        估价:RMB 300,000 - 500,000

                        成交价(RMB):368,000
                        成交价(HKD):400,126
                        成交价(USD):509,68

                        <i>拍卖日期:2022-10-05</i>
                    </p>
                </th>

                <th>
                    <img src="../../Content/images/jubaopen6.jpg">
                    <p>
                        <span>聚宝盆系列之六</span>
                        估价:RMB 200,000 - 300,000

                        成交价(RMB):365,200
                        成交价(HKD):437,365
                        成交价(USD):54,780

                        <i>拍卖日期:2021-02-05</i>
                    </p>
                </th>

                <th>
                    <img src="../../Content/images/yuanfang1.jpg">
                    <p>
                        <span>远方系列之一</span>
                        估价:RMB 80,000 - 100,000

                        成交价(RMB):148,500
                        成交价(HKD):177,844
                        成交价(USD):222,75

                        <i>拍卖日期:2021-02-05</i>
                    </p>
                </th>
            </tr>

            <!-- <tr>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                    </tr> -->
        </table>
    </section>

</div>

<script>
    // 导航栏的焦点切换
    $(function () {
        $(window).scroll(function () {
            var scrollDistance = $(window).scrollTop();
            $('#section01, #section02, #section03, #section04').each(function (i) {
                if ($(this).position().top <= scrollDistance) {
                    $('#ArtistNav .activeLink').removeClass('activeLink');
                    $('#ArtistNav td').eq(i + 2).addClass('activeLink');
                }
            });
        }).scroll();
    });

    // 通过宽高比修改最大字符
    $(function () {

        var $paragraphs = $("#section01 li p"); // 获取特定元素下的所有p元素
        var deviceWidth = $(window).width(); // 获取设备宽度
        var deviceHeight = $(window).height(); // 获取设备高度

        var deviceRatio = deviceWidth / deviceHeight; // 计算设备的宽高比
        var maxCharCount = deviceRatio > 1 ? 150 : 70; // 根据宽高比决定最大字符数限制

        $paragraphs.each(function () {
            var $paragraph = $(this);
            var content = $paragraph.text();

            if (content.length > maxCharCount) {
                var trimmedContent = content.slice(0, maxCharCount);
                var truncatedContent = trimmedContent + "......";
                $paragraph.text(truncatedContent);
            }
        });
    });

    // 新闻分页切换
    $(function () {
        var itemsPerPage = 6;           // 每页显示的条目数
        var currentPage = 1;            // 当前页面
        var $list = $('#list');         // 绑定#list
        var $items = $list.children();  // 选中#list的子类
        var totalItems = $items.length;
        var totalPages = Math.ceil(totalItems / itemsPerPage);

        // 显示当前页的条目
        function showPage(page) {
            var startIndex = (page - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;
            $items.hide().slice(startIndex, endIndex).show();
        }

        // 生成分页导航条
        function generatePagination() {
            var $pagination = $("#pagination");
            $pagination.empty();

            var $prev = $('<li class="prev disabled"><a href="#">上一页</a></li>');
            if (currentPage > 1) {
                $prev.removeClass("disabled");
                $prev.children("a").attr("href", "#");
            }
            $pagination.append($prev);

            for (var i = 1; i <= totalPages; i++) {
                var $li = $('<li><a href="#">' + i + '</a></li>');

                if (i === currentPage) {
                    $li.addClass("active");
                }

                $pagination.append($li);
            }

            var $next = $('<li class="next"><a href="#">下一页</a></li>');
            if (currentPage < totalPages) {
                $next.children("a").attr("href", "#");
            } else {
                $next.addClass("disabled");
            }
            $pagination.append($next);
        }

        // 初始化显示第一页
        showPage(currentPage);
        generatePagination();

        // 点击分页导航条触发事件
        $("#pagination").on("click", "a", function (e) {
            e.preventDefault();
            var targetPage = $(this).text();

            if (targetPage === "上一页" && currentPage > 1) {
                currentPage--;
            } else if (targetPage === "下一页" && currentPage < totalPages) {
                currentPage++;
            } else {
                currentPage = parseInt(targetPage);
            }

            showPage(currentPage);
            generatePagination();

            // 滚动到章节顶部
            $("html, body").animate({ scrollTop: $("#zixun").offset().top }, 50);
        });
    });

    // Info图像显示
    $(function () {
        var info = $('.info');
        var fold = $('.unfolded');

        info.each(function (index) {
            var $this = $(this);
            var $relatedFold = fold.eq(index);

            $this.click(function () {
                $relatedFold.toggleClass('active').fadeIn(1000);
            });
        });
    });

    // 放大镜
    $(function () {
        $('.zoom').magnify({
            speed: 200,
            // limitBounds: true,
            magnifiedWidth: 1000,
            magnifiedHeight: 1000,
        })
    });

    // 模拟bg-attachment
    $(function () {
        var $infoBox = $('.infoBox');

        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            $infoBox.css('background-position', 'center ' + (-scrollTop) + 'px');
        });
    });

</script>